<div class="paiement-container">
  <h2>💳 Paiement de la formation</h2>

  <div *ngIf="inscription() as ins">
    <p><strong>Nom :</strong> {{ ins.prenom }} {{ ins.nom }}</p>
    <p><strong>Formation :</strong> {{ ins.formation.titre }}</p>
    <p><strong>Montant :</strong> {{ ins.formation.proposerPrix }} TND</p>

    <button class="btn btn-success" (click)="payer()">🔒 Payer avec Stripe</button>

    <div *ngIf="success() === true" class="alert alert-success">
  ✅ Votre paiement a bien été confirmé. Merci !
</div>

<div *ngIf="success() === false" class="alert alert-danger">
  ❌ Échec lors de la confirmation du paiement.
</div>

  </div>
</div>

